Package: com.eswick.libfsmonitor
Name: libfsmonitor
Version: 1.0.0
Architecture: iphoneos-arm
Description: Open source Objective-C library for monitoring filesystem events.
Maintainer: Evan Swick
Author: Evan Swick
Section: Development
Tag: role::developer
